http://ugurhaliskurt.com {
    redir https://ugurhaliskurt.com{uri}  # Redirect HTTP to HTTPS
}

https://ugurhaliskurt.com {
    reverse_proxy /dividends* personalwebsite-backend-1:9080
    reverse_proxy web:80
}